.employee-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Change height to min-height */
}

.employee-details {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80%; /* Set a width for the employee details */
  max-width: 600px; /* Optional: Set a maximum width */
  position: relative; /* Add position relative */
}

.profile-pic-container {
  border-radius: 50%;
  overflow: hidden;
  width: 200px; /* Increase the size of the container */
  height: 230px; /* Increase the size of the container */
  margin: 0 auto;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.close-icon {
  position: absolute; /* Position the close icon absolutely */
  top: 10px; /* Distance from the top */
  right: 10px; /* Distance from the left */
  font-size: 24px;
  color: red;
  cursor: pointer;
}
